@import "./component/footer";
@import "./component/universal_css";
@import "./component/navigation";
@import "./component/js_function_Style";
@import "./component/keyframes_in_Javascript";
@import "./component/style_responsive";
// @import "./component/universal_mediaQueries";

header{
    height: 100px;
    position: relative;
    overflow: hidden;
}



.all-blogs-section{
    position: relative;
    top: 10px;
    margin-bottom: 200px;
}
.blog-section-header{
    text-align: center;
    margin-bottom: 60px;
}
.all-blog-flex-container, .all-blog-sub-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.all-blog-flex-container{
    padding: 0 90px;  
}

.all-blog-flex-item:nth-of-type(1){
    width: 60%;
}
.all-blog-flex-item:nth-of-type(2){
    width: 30%;
}
.all-blog-sub-flex-item:nth-of-type(1){
    width: 35%;
    position: relative;
}
.all-blog-sub-flex-item:nth-of-type(2){
    width: 60%;
}
.all-blog-sub-flex-item img{
    object-fit: contain;
    height: 400px;
}
.all-blog-sub-positioning{
    position:absolute;
}
.sub-flex-a-1{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;
    color: rgba(0, 0, 0, 0.76);
    padding-bottom: 3px;
    display: inline-block;
}
.underline, .sub-flex-a-1{
    border-bottom: 2px solid green;
}
.underline{
    padding-bottom: 3px; 
    display: inline-block;
}
.sub-flex-para{
    font-size: 14px;
    margin-bottom: 50px;
}
.sub-flex-a-2{
    color: green;
    font-size: 14px;
    font-weight: 700;
}




/* page */
.page-counter-all-blogs{
    position:relative;
    margin-top: 70px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.424);
    width: 100vw;
}
.page-counter-center-container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    position: absolute;
}
.page-counter-total-pages, .current-page-page-counter{
    line-height: 50px;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    margin-right: 10px;
}




/* collaborate */
.section-flex-h3{
    margin-bottom:15px;
    font-size: 16px;
}
.section-flex-item-p{
    margin-bottom: 30px;
    font-size: 15px;
}
.btn-in-sidebar{
    line-height: 40px;
    width: 230px;
    text-align: center;
    background: green;
    display:block;
    font-size: 12px;
    font-weight: 700;
    margin-bottom:70px;
}
.btn-in-sidebar:link, .btn-in-sidebar:visited{
    color: white;
}




/*============= 
RESPONSIVE  MEDIA QUERIES 
=======================*/
/* BIG SCREEN FIX */
@media all and (min-width: 1700px){

    /* blog section */
    .blog-section-header {
        font-size: 25px;
        margin: 50px 0 100px 2%;
    }
    .sub-flex-a-1 {
        font-size: 28px;
    }
    .sub-flex-para {
        margin-bottom: 50px;
    }
    .sub-flex-a-2, .sub-flex-para{
        font-size: 19px;
    }


    /* collaborate */
    .section-flex-h3 {
        font-size: 22px;
    }
    .section-flex-item-p {
        font-size: 20px;
    }
    .btn-in-sidebar {
        line-height: 60px;
        width: 250px;
        font-size: 16px;
    }
}



/* NORMAL SKIN FIX */
@media screen and (max-width: 1020px){
    .all-blog-flex-container{
        flex-direction: column;
    }
    .all-blog-flex-item:nth-of-type(1){
        width: 100%;
    }
    .all-blog-flex-item:nth-of-type(2){
        display: none;
    }
}
@media screen and (max-width: 844px){
    .all-blog-sub-flex-container{
        flex-direction: column-reverse;
    }
    .all-blog-sub-flex-item{
        height: 350px;
    }
    .all-blog-sub-flex-item:nth-of-type(1){
        width: 100%;
    }
    .all-blog-sub-flex-item:nth-of-type(2){
        width: 100%;
    }

}

@media screen and (max-width: 530px){
    .all-blog-sub-flex-item img{
        height: 300px;
    }
    .all-blog-sub-flex-item{
        height: 300px;
    }
}
@media screen and (max-width: 462px){
    .all-blog-flex-container{
        padding: 0 20px;  
    }
    
}