


header{

    position: relative;
}

/*
 section page 
*/
.section-header{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    letter-spacing:9px;
    text-decoration: underline;
}
.section-flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 90px;
}
.section-flex-item{
    width: 40%;
    margin-top: 70px;
}
.section-flex-h3{
    margin-bottom:15px;
    font-size: 16px;
}
.section-flex-item-p{
    margin-bottom: 30px;
    font-size: 15px;
}
.section-form{
    height: 40px;
    display: block;
    width: 90%;
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid rgba(0, 128, 0, 0.315);
}
.section-form:focus, textarea:focus{
    outline: none;
}
textarea{
    width: 90%;
    border: none;
    font-size: 14px;
    font-weight: 400;
    height: 100px;
    border-bottom: 2px solid rgba(0, 128, 0, 0.294);
    margin-bottom: 20px;
}
.request-inter-btn{
    border: none;
    background: green;
    color: white;
    height:50px;
    font-size: 14px;
    width: 250px;
    font-weight: 700;
    display: block;
    cursor:pointer;
    letter-spacing: 1px;
}






footer{
    padding: 40px 200px;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.829);
}
.copyright-text{
    font-weight: 400;
}
.footer-item a{
    color:  black;
}



/* ==========
RESPONSIVE
=================== */
/* BIG SCREEN FIX */
@media all and (min-width: 1700px){
    .section-flex-h3 {
        margin-bottom: 35px;
        font-size: 24px;
    }
    .section-flex-item-p {
        margin-bottom: 90px;
        font-size: 20px;
    }
    .section-form {
        height: 70px;
        font-size: 18px;
    }

    textarea {
        font-size: 20px;
        font-weight: 400;
        height: 180px;
    }
    .section-form, textarea{
        border-bottom: 3px solid rgba(0, 128, 0, 0.294);
    }
    .request-inter-btn {
        height: 60px;
        font-size: 18px;
        width: 270px;
        font-weight: 400;
    }
}


/* collaborate */
@media only screen and (max-width : 1001px){
    .section-flex-container{
        flex-direction: column;
        padding: 0 30px;
    }
    .section-flex-item{
        width: 100%;
        margin-top: 70px;
    }
}