header{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* header image flex */
.header-image-container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header-image-img{
    width: 400px;
    object-fit: cover;
    height: 100%;

}
.scroll-text-container{
    position:absolute;
    top: 50%;
    right: 0;
    width: 200px;
    transform: rotateZ(270deg);
    -webkit-transform: rotateZ(270deg);
    -moz-transform: rotateZ(270deg);
    -ms-transform: rotateZ(270deg);
    -o-transform: rotateZ(270deg);
    padding: 0 10px;
    font-size: 20px;
    overflow: hidden;
}
.scroll-text{
    animation:scrollDownText 3s linear infinite;
    animation-timing-function: cubic-bezier(.11,.77,.9,.53);
    -webkit-animation:scrollDownText 3s linear infinite;
}
.hero-text-container{
    position: absolute;
    width: 50%;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: rgb(174, 132, 93);
}
.header-hero-h1{
    letter-spacing: 5px;
    font-size: 40px;
}
.hero-text-btn{
    position: relative;
}
.hero-text-link-btn{
    position: absolute;
    line-height: 40px;
    width: 150px;
    display: block;
    margin-top: 20px;
}
.hero-text-link-btn:link, .hero-text-link-btn:visited{
    color: white;
    background: black;
}
.hero-text-link-btn:hover, .hero-text-link-btn:active{
    color: black;
    background: white;
}



/* =========
ABOUT US SECTION
=========== */
.about-us-short{
    display:flex;
    flex-wrap: wrap;
}
.about-u-s-item{
    width: 50%;
    height: 300px;
    padding: 100px 0;
}
.about-u-s-item:nth-of-type(1){
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.883);
}
.about-u-s-item:nth-of-type(2){
    font-size: 15px;
}
.about-us-p{
    width: 80%;
}
.design-span{
    font-style:italic;
    font-weight:300;
}
.about-us-h4{
    margin-bottom: 10px;    
}



/* =========
THEIR STORIES SECTION
=========== */
.their-stories{
    padding-bottom: 30px;
}
.their-stories-heading{
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 60px;
}
.their-stories-menu-container{
    padding: 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;

}
.their-stories-menu-list{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.their-stories-menu-list:nth-of-type(1){
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid black;
}
.their-stories-menu-list:nth-of-type(2){
    display: flex;
    justify-content: space-between;
}
.their-stories-menu-link{
    display: flex;
    justify-content: space-between;
}
.their-stories-menu-link:link,.their-stories-menu-link:visited {
    color:black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.their-stories-menu-link:hover,.their-stories-menu-link:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.801);
}
.s-t-link:link,.s-t-link:visited {
    color: rgb(16, 255, 128);
}
.s-t-link:hover,.s-t-link:active {
    border-bottom: 1px solid rgb(16, 255, 128);;
}
.stories-main-icon{
    text-align: center;
}
.their-stories-menu-link{
    margin-right:30px;
}
.stories-main-sec-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 200px;
    margin-top: 40px;
}
.stories-main-item{
    width: 45%;
    height: 450px;
    margin: 0 15px 20px 0;
}
.hover-color-s-t{
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor:pointer;
}
.s-t-content{
    padding: 5px 20px;
    position: relative;
    top: -7px;
}
.s-t-image-sec{
    position: relative;
}
.linkcontainer{
    position: absolute;
    font-size: 30px;
    color: rgb(16, 255, 128);
}
.s-t-image-main{
    object-fit:cover;
    height:280px;
    width: 100%;
}
/* setting up the stories flex item */
.s-t-content-name{
    font-size: 11px;
    letter-spacing: 2px;
    color: rgba(58, 56, 56, 0.641);
    font-weight: 700;
    margin: 10px 0;
}
.s-t-content-span{
    color: black;
}
.s-t-content-h3{
    margin-bottom: 10px;
    border-bottom: 2px solid green;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.s-t-content-para{
    font-size: 14px;
}
.s-t-content-date{
    display: block;
    position: absolute;
    bottom: -30px;
    right: 10px;
    font-size: 12px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.774);
}
.btn-more-stories{
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.664);
    letter-spacing: 2px;
    cursor:pointer;
}
.stories-main-item:hover{
    background-color: rgba(9, 255, 202, 0.164);
}
.stories-main-item:hover .s-t-image-sec .hover-color-s-t{
    opacity: 1;
}


/* blog posts */
.blog-posts{
    position: relative;
    margin-top: 80px;
}
.blog-posts-h3-main{
    text-align: center;
}
.flex-container-blog-posts{
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blog-posts-item{
    width: 200px;
    margin-left: 10px;
}
.blog-posts-header-text{
    font-size: 15px;
}
.blog-posts-content{
    font-size: 12px;
}
.visit-blog-btn{
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}

.visit-blog-btn-link:link, .visit-blog-btn-link:visited{
    color: rgb(29, 240, 117);
    border-bottom: 1px solid rgb(29, 240, 117);
}
.visit-blog-btn-link:hover, .visit-blog-btn-link:active{
    border-bottom: 1px solid rgba(29, 240, 117, 0);
    color: rgb(29, 240, 117);
}



/* ==========
CAUTION EVENT
========== */
.caution{
    width: 100%;
    position: fixed;
    height: 300px;
    background: white;
    color: rgba(0, 0, 0, 0.596);
    font-size: 17px;
    text-align: center;
    z-index: 100;
    padding: 100px 200px;
}
.caution-btn{
    margin-top:30px;
    background: black;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

/* ===========
MEDIA QUERIES
============== */
/* BIG SCREEN FIX */
@media all and (min-width: 1700px){

    /* header section */
    .header-hero-h1{
        font-size: 60px;
    }
    .hero-text-link-btn{
        line-height: 60px;
        width: 190px;
        font-size: 20px;
    }

    /* design and travel section */
    .design-n-travel-p{
        font-size:60px;
    }
    .about-u-s-item:nth-of-type(2) {
        font-size: 20px;
    }

    /* their stories section */
    .their-stories-heading{
        font-size: 30px;
        margin-top: 70px;
    }
    .their-stories-menu-container {
        font-size: 18px;
    }
    .their-stories-menu-list:nth-of-type(1) {
        font-size: 16px;
    }
    .s-t-content-name{
        font-size: 16px;
    }
    .s-t-content-h3{
        font-size: 26px;
    }
    .s-t-content-para{
        font-size: 18px;
    }
    .s-t-content-date{
        font-size: 16px; 
    }
    .stories-main-item {
        width: 45%;
        height: 520px;
        margin: 0 15px 20px 0;
    }

    /* BLOG POSTS */
    .blog-posts-item {
        width: 300px;
    }
    .blog-posts-header-text{
        font-size: 20px;
    }
    .blog-posts-content{
        font-size: 16px;
    }
    .visit-blog-btn-link{
        font-size: 26px;
    }
    .visit-blog-btn{
        margin:40px 0 70px 0;
    }
}




/* NORMAL SCREEN */
@media all and (max-width: 900px){
    .caution{
        padding: 100px 50px;
    }
}

@media all and (max-width: 560px){
    .caution{
        padding: 100px 10px;
        height: 350px;
    }
}