@import "./variables&functions";

footer{
    // padding: 40px 200px;
    margin: 40px 0;
    font-weight: 700;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.829);
    @include responsive(900px){
        flex-direction: column;
        text-align: center;
    }
    div{
        @include responsive(900px){
            $border_color:rgba(0, 0, 0, 0.425);
            padding: 10px 0;
            border-bottom:1px solid $border_color;
            &:first-child{
                border-top: 1px solid $border_color;
            }
        }
    }
    a{
        color:black;   
    }

    .copyright-text{
        font-weight: 400;
    }
}




