@font-face {
    font-family: font-light;
    src: url("../../vendor/fonts/ZenMaruGothic-Light.ttf");
}
@font-face {
    font-family: font-regular;
    src: url("../../vendor/fonts/ZenMaruGothic-Regular.ttf");
}
@font-face {
    font-family: font-medium;
    src: url("../../vendor/fonts/ZenMaruGothic-Medium.ttf");
}
@font-face {
    font-family: font-bold;
    src: url("../../vendor/fonts/ZenMaruGothic-Bold.ttf");
}
@font-face {
    font-family: font-super-bold;
    src: url("../../vendor/fonts/ZenMaruGothic-Black.ttf");
}
