@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
@import 'universalStyling';
@import "variables";
@import "mediaQueries";


header{
    nav{
        margin-top: 52px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .logo-section{
            display: flex;
            line-height: 68px;
            font-family: font-medium;
            font-size:1.5625rem;
            color: $text-half-opacity;
            img{
                height: 68px;
                width:68px;
                @include responsiveM(1600px){
                    height: 58px;
                    width: 58px;
                }
                @include responsiveM(1500px){
                    height: 50px;
                    width: 50px;
                    position: relative;
                    top: 9px;
                }
            }
            span{
                margin-left: 20px;
            }
        }
    }


    .ham-nav-container{
        div{
            position: relative;
            top: 20px;
            height: 3px;
            width: 47px;
            background: $header-color;
            &:first-child{
                margin-bottom: 10px;
            }
            @include responsiveM(1600px){
                height: 2px;
            }
            @include responsiveM(1400px){
                width: 35px;
            }
        }
    }
}


.hero-section{
    margin-top: 10%;
    .flex-item-hero{
        width: 70%;
        @include responsiveM(1404px){
            width: 90%;
        }
        &:first-child{
            h5{
                font-family: font-medium;
                font-size:1.5625rem;
                color: $main-color;
            }
            h1{
                font-family: font-super-bold;
                color: $header-color;
                &:nth-of-type(1){
                    margin-top: 20px;
                }
                
            }
            .about-me-text{
                font-size: 1.375rem;
                color: $text-half-opacity;
                font-family: font-medium;
                width: 60%;
                margin-top: 59px;
                padding-left: 15px;
                border-left: 2px solid rgba(0, 0, 0, 0.13);
            }
            
        }
        &:last-child{
            position: relative;
            z-index:-1;
            div{
                @include center-elements(50%, 50%, absolute);
                img{
                    width: 648px;
                    height: 340px;
                    @include responsiveM(1300px){
                        width: pCalc(648px, 80);
                        height: pCalc(340px, 80);
                    }
                }
            }

            @include responsiveM(1860px){
                width: 20%;
            }
            @include responsiveM(1404px){
                width: 10%;
            }
        }

        .button-container-hero{
            margin-top: 64px;
            @include responsiveM(1300px){
                margin-top: 30px;
            }
            a{  
                text-align: center;
                line-height: 57px;
                font-size: 1.125rem;
                font-family: font-bold;
                letter-spacing: 2px;
                width: 192px;
                @include transition(background, 0.4s);
                @include border-radius(5px);
                @include responsiveM(1300px){
                    line-height: 40px;
                }
                &:nth-of-type(1){
                    margin-right:22px;
                    &:link, &:visited{
                        color: white;
                        background: $main-color;
                    }  
                    &:hover, &:active{
                        color: white;
                        background: orange;
                    } 
                }
                &:nth-of-type(2){
                    &:link, &:visited{
                        color: white;
                        background: rgb(202, 202, 202);
                    }
                    &:hover, &:active{
                        color: white;
                        background: rgb(153, 153, 153);
                    }
                }
            } 
        }
    }
}


// profile styles
.profile-container{
    margin-top: 30px;
    img{
        @include responsiveM(1500px){
            height: 50px;
            width: 50px;
        }
    }
    div{
        margin-top: 10px; 
        margin-left: 20px;
        font-size: 0.875rem;
        .full-name{
            font-family: font-super-bold;
            color: $text-half-opacity;
        }
        .profession-name-p{
            span{
                font-family: font-bold;
                color: $main-color;
            }
        }
    }
}





// =======================
// SECOND SECTION 
// =========================
.Second-section{
    padding-bottom: 100px;
    margin-top: 262px;
    .second-sec-flex-item{
        h2{
           color:rgba(153, 153, 153, 0.513);
           font-family: font-bold;
        }
        &:nth-of-type(1){
            width: 15%;
           
            img{
                height: 496px; 
                width:660px;
                position: relative;
                left: -80px;
                z-index: -1;
                @include responsiveM(1300px){
                    opacity: 0.4;
                }
            }
        }
        &:nth-of-type(2){
            width: 60%;
            @include responsiveM(1100px){
                width: 80%;
            }
        }
        .quality-sec{ 
            margin-top: 60px;
            .quality-item{
                width: 47%;
                div:nth-of-type(1){
                    width: 20%;
                    font-size: 2.25rem;
                    font-family: font-bold;
                    margin-right: 10px;
                    span{
                        padding: 5px 20px;
                        background-color: $main-color;
                        color: white;
                    } 
                }
                div:nth-of-type(2){
                    width: 80%;
                    h4{
                        font-size: 1.5rem;
                        margin-bottom: 0.625rem;
                    }
                    p{
                        font-size: 1.125rem;
                    }
                }
            }
        }

        .work-status-brief{
            margin-top: 5.625rem;
            width: 60%;
            .work-status-item{
                div{
                    &:nth-of-type(1){
                        font-size:4rem;
                        font-family: font-bold;
                    }
                    &:nth-of-type(2){
                        font-size:1.125rem;
                        margin: auto  10px;
                    }
                }
            }
        }
    }
}