@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: font-light;
  src: url(../../vendor/fonts/ZenMaruGothic-Light.ttf);
}

@font-face {
  font-family: font-regular;
  src: url(../../vendor/fonts/ZenMaruGothic-Regular.ttf);
}

@font-face {
  font-family: font-medium;
  src: url("../../vendor/fonts/ZenMaruGothic-Medium.ttf");
}

@font-face {
  font-family: font-bold;
  src: url("../../vendor/fonts/ZenMaruGothic-Bold.ttf");
}

@font-face {
  font-family: font-super-bold;
  src: url("../../vendor/fonts/ZenMaruGothic-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

body {
  font-family: font-regular;
  padding: 0 126px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-jc-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.link {
  text-decoration: none;
}

header nav {
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 68px;
  font-family: font-medium;
  font-size: 1.5625rem;
  color: #00000070;
}

header nav .logo-section img {
  height: 68px;
  width: 68px;
}

@media all and (max-width: 1600px) {
  header nav .logo-section img {
    height: 58px;
    width: 58px;
  }
}

header nav .logo-section span {
  margin-left: 20px;
}

header .ham-nav-container div {
  position: relative;
  top: 20px;
  height: 3px;
  width: 47px;
  background: #000000;
}

header .ham-nav-container div:first-child {
  margin-bottom: 10px;
}

.hero-section {
  margin-top: 10%;
}

.hero-section .flex-item-hero {
  width: 70%;
}

@media all and (max-width: 1404px) {
  .hero-section .flex-item-hero {
    width: 90%;
  }
}

.hero-section .flex-item-hero:first-child h5 {
  font-family: font-medium;
  font-size: 1.5625rem;
  color: #FF694B;
}

.hero-section .flex-item-hero:first-child h1 {
  font-size: 4rem;
  font-family: font-super-bold;
  color: #000000;
}

.hero-section .flex-item-hero:first-child h1:nth-of-type(1) {
  margin-top: 20px;
}

.hero-section .flex-item-hero:first-child .about-me-text {
  font-size: 1.375rem;
  color: #00000070;
  font-family: font-medium;
  width: 60%;
  margin-top: 59px;
  padding-left: 15px;
  border-left: 2px solid rgba(0, 0, 0, 0.13);
}

.hero-section .flex-item-hero:last-child {
  position: relative;
  z-index: -1;
}

.hero-section .flex-item-hero:last-child div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero-section .flex-item-hero:last-child div img {
  width: 648px;
  height: 340px;
}

@media all and (max-width: 1300px) {
  .hero-section .flex-item-hero:last-child div img {
    width: 518.4px;
    height: 272px;
  }
}

@media all and (max-width: 1860px) {
  .hero-section .flex-item-hero:last-child {
    width: 20%;
  }
}

@media all and (max-width: 1404px) {
  .hero-section .flex-item-hero:last-child {
    width: 10%;
  }
}

.hero-section .flex-item-hero .button-container-hero {
  margin-top: 64px;
}

.hero-section .flex-item-hero .button-container-hero a {
  text-align: center;
  line-height: 57px;
  font-size: 1.125rem;
  font-family: font-bold;
  letter-spacing: 2px;
  width: 192px;
  transition: background 0.4s;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero-section .flex-item-hero .button-container-hero a:nth-of-type(1) {
  margin-right: 22px;
}

.hero-section .flex-item-hero .button-container-hero a:nth-of-type(1):link, .hero-section .flex-item-hero .button-container-hero a:nth-of-type(1):visited {
  color: white;
  background: #FF694B;
}

.hero-section .flex-item-hero .button-container-hero a:nth-of-type(1):hover, .hero-section .flex-item-hero .button-container-hero a:nth-of-type(1):active {
  color: white;
  background: orange;
}

.hero-section .flex-item-hero .button-container-hero a:nth-of-type(2):link, .hero-section .flex-item-hero .button-container-hero a:nth-of-type(2):visited {
  color: white;
  background: #cacaca;
}

.hero-section .flex-item-hero .button-container-hero a:nth-of-type(2):hover, .hero-section .flex-item-hero .button-container-hero a:nth-of-type(2):active {
  color: white;
  background: #999999;
}

.profile-container {
  margin-top: 30px;
}

@media all and (max-width: 1500px) {
  .profile-container img {
    height: 50px;
    width: 50px;
  }
}

.profile-container div {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 0.875rem;
}

.profile-container div .full-name {
  font-family: font-super-bold;
  color: #00000070;
}

.profile-container div .profession-name-p span {
  font-family: font-bold;
  color: #FF694B;
}

@media all and (max-width: 1600px) {
  html {
    font-size: 14px;
  }
  body {
    padding: 0 106px;
  }
}

@media all and (max-width: 1500px) {
  html {
    font-size: 12px;
  }
  body {
    padding: 0 95px;
  }
}

@media all and (max-width: 1300px) {
  html {
    font-size: 10px;
  }
  body {
    padding: 0 80px;
  }
}
/*# sourceMappingURL=styles.css.map */