nav{
    padding:0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 60px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background: white;
    z-index: 1000;
    overflow: hidden;
}
.menu-1{
    position: relative;
}
.dekstop-ham-bar{
    height: 2px;
    width: 25px;
    background: black;
    margin-bottom: 4px;
}
.shop-btn{
    margin-left: 70px;
    cursor: pointer;
}
.dekstop-ham-container{
    position: absolute;
    height: 40px;
    width:28px;
    top: 2px;
    padding: 20px !important;
}
.dekstop-ham-relative{
    position: relative;
    height: 100%;
    width: 100%;
}
.menu-flex-item:nth-of-type(1),.menu-flex-item:nth-of-type(3){
    font-size: 16px;
}
.menu-flex-item:nth-of-type(2){
    font-size: 40px;
}
.menu-flex-item:nth-of-type(3){
    display: flex;
}
.cart-icon{
    display: none;
}
.search-icon{
    margin-right: 20px;
}



/* NaviGATION  */
@media all and (min-width: 1700px){
    .menu-flex-item:nth-of-type(1),.menu-flex-item:nth-of-type(3){
        font-size: 19px;
    }
    .menu-flex-item:nth-of-type(2){
        font-size: 49px;
    }
    nav{
        line-height: 80px;
    }
    .dekstop-ham-container{
        top: 10px;

    }
    .dekstop-ham-bar{
        height: 3px;
        width: 35px;
        background: black;
        margin-bottom: 7px;
    }
    
}