*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    background: #fafafa;
}
.flex-main-section-container{
    max-width: 935px;
    margin: 32px auto 0;
    height:780px;
}
.image-section{
    background: url("../img/bg.png");
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.img-display-none{
    display: none;
}
.flex-main-item{
    width: 50%;
}
.image-slider-container{
    height: 538.84px;
    width: 250px;
    position: absolute;
    top: 99px;
    left: 157px;
}

.image-slider-centering{
    position: relative; 
    height: 100%;
    width: 100%;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
}
.image_2, .image_3{
    opacity: 0;
}


/* ======LOGIN FORM========== */
.form-header{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    
}
.logo-container{
    padding: 32px 0 12px 0;
}
.log-in-form{
    width: 340px;
    background: white;
    padding: 20px 40px;
    border: 1px solid rgb(211, 211, 211);
}
.logo-img{
    margin: 0 auto;
    display: block;
}

input:first-of-type{
    margin-top: 20px;
}

input{
    border: 1px solid rgba(0, 0, 0, 0.308);
    font-size: 12px;
    padding: 10px 5px;
    display: block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 100%;
}
input[type="text"]{
    margin-bottom: 10px;
}

input[type="submit"]{
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color:#0095f6;
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.or{
    justify-content: space-between;
}
.or-flex-item:first-child, .or-flex-item:last-child{
    width: 40%;
    background: green;
    align-self: center;
}
.dash{
    height: 1px;
    background: rgb(196, 196, 196);
    width: 100%;
}

.login-with-facebook , .forgot-password{
    color: #385185;
    text-align: center;
    display: block;
}
.forgot-password{
    font-size: 12px;
}

.login-with-facebook{
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dont-have-account{
    padding: 20px 30px;
    background: white;
    width: 340px;
    margin-top: 30px;
    border: 1px solid rgb(211, 211, 211);
    text-align: center;
    margin-bottom: 20px;
}

.sign-up-btn{
    font-weight: 600;
    color: #3776ff;
}

.get-app{
    text-align: center;
    width: 340px;
    margin-bottom: 20px;
}

.app-store-container{
    justify-content: center;
    width: 340px;
}
.app-store-container img:first-of-type{
    margin-right: 10px;
}


/* ===================FOOTER========== */
.footer-first-sections-link{
    max-width: 934px;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    justify-content: center;
    font-size: 12px;
}
.footer-link{
    color: rgb(141, 141, 141);
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.copyright{
    text-align: center;
    color: rgb(141, 141, 141);
    font-size: 12px;
}



/* =============  */
/* =====keyframes animation======= */
@keyframes fadeOut{
    0%{ 
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}








/* =============  */
/* =====MEDIA QUERIES======= */
@media only screen and (max-width: 970px){
    .flex-main-item:first-child{
        display:none;
    }
    .flex-main-item{
        width: 100%;
    }
    .log-in-form,.dont-have-account, .get-app,.app-store-container {
        margin-left: auto;
        margin-right: auto;
    }
}