@font-face {
    font-family: font-bold;
    src: url("../fonts/sk-modernist-bold-webfont.woff2") format("woff2"), url("../fonts/sk-modernist-bold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: font-light;
    src: url("../fonts/sk-modernist-light-webfont.woff2") format("woff2"), url("../fonts/sk-modernist-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: font-mono;
    src: url("../fonts/sk-modernist-mono-webfont.woff2") format("woff2"), url("../fonts/sk-modernist-mono-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: font-regular;
    src: url("../fonts/sk-modernist-regular-webfont.woff2") format("woff2"),url("../fonts/sk-modernist-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
