:root {
    --black: #070606;
    --white: #F9F9F9;
    --dark-white: #808080;
}

.js-overflowY-hidden {
    overflow-y: hidden !important;
}

.js-display-none {
    display: none;
}

.loading-section-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--white);
    z-index: 20;
}

.loading-section__center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo-container img {
    width: 61px;
    height: auto;
}

.loading-bar {
    width: 100%;
    height: 11px;
    margin-top: 15px;
}

.loading-bar__fill {
    width: 0%;
    height: 100%;
    background: var(--black);
}



/* KEYFRAMES ANIMATION */
@keyframes loading_1 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes loading_2 {
    0% {
        width: 0%;
    }

    40% {
        width: 40%;
    }

    60% {
        width: 40%;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes loading_3 {
    0% {
        width: 0%;
    }

    50% {
        width: 40%;
    }

    80% {
        width: 40%;
    }

    100% {
        width: 100%;
    }
}

@keyframes loading_4 {
    0% {
        width: 0%;
    }

    30% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60%{
        width: 60%;
    }

    80% {
        width: 66%;
    }

    100% {
        width: 100%;
    }
}
@keyframes loading_5 {
    0% {
        width: 0%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 45%;
    }

    60% {
        width: 50%;
    }
    85%{
        width: 50%;
    }

    100% {
        width: 100%;
    }
}