:root {
    --black: #070606;
    --white: #F9F9F9;
    --dark-white: #808080;
}

/* ===== HEADER ===== */
.hero-heading {
    margin-bottom: 140px;
}


/* ======== PROJECT CONTAINER =========== */
.project-flex-item:nth-child(2) {
    align-self: flex-end;
}

.project-list {
    padding-bottom: 15px;
    margin-top: 32px;
}

.project-list__last-hr {
    margin-bottom: 53px;
}

.project-list__video-container {
    height: 144px;
    width: 376px;
    position: relative;
    background: var(--black);
    cursor: pointer;
    display: block;
}

.project-list__video-container__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-list__video-container__video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 2;
    display: none;
}


/* playing the video on hover */
.project-list:hover .project-flex-item .project-list__video-container .project-list__video-container__video {
    display: block;
}

.project-category__category-name,
.project-category-title {
    text-align: right;
}

.project-category__category-name {
    font-size: 20px;
    line-height: 24px;
    font-family: font-mono;
    color: var(--dark-white);
    margin-bottom: 3px;
}

.project-category-title {
    display: block;
}

.project-category-title:link,
.project-category-title:visited {
    color: var(--black);
}



/* ================ */
/* MEDIA QUERIES */
@media only screen and (max-width: 1100px) {
    .project-flex-item:nth-child(2) {
        align-self: center;
    }
}


/* GOING TO THE TAB VIEW */
@media only screen and (max-width: 900px) {
    .project-list {
        flex-wrap: wrap;
    }

    .hero-heading {
        margin-bottom: 56px;
    }

    .project-flex-item {
        width: 100%;
    }

    .project-category__category-name,
    .project-category-title {
        text-align: left;
    }

    .project-category__category-name {
        font-size: 17px;
    }

    .project-list__video-container {
        height: 267px;
        width: 100%;
        margin-bottom: 17px;
    }

    .project-list__last-hr {
        margin-bottom: 120px;
    }
}

/* GOING TO THE MOBILE VIEW */
@media only screen and (max-width: 600px) {
    .project-category__category-name {
        font-size: 10px;
        line-height: 8px;
    }

    .project-list__last-hr {
        margin-bottom: 6px;
    }

    .project-list__video-container {
        height: 106px;
    }
}

@media only screen and (max-width: 400px) {
    .project-category__category-name {
        font-size: 7px;
        line-height: 8px;
    }
}